*{
   padding: 0px;
   margin: 0px;
   font-family: 'Yusei Magic', sans-serif;
}

body{
   background: #131313;
}

h1{
   text-align: center;
   font-size: 30px;
   margin-bottom: 20px;
   margin-top: 20px;
   color: yellow;
}

input{
   font-family: font-family: 'Yusei Magic', sans-serif;
   font-size: 20px;
   text-transform: capitalize;
}

.contenedor{
   width: 50%;
   margin: 0 auto;
}

.table{
   margin: 0 auto;
   border: 3px solid #EF9408;
   color:white;
   font-size: 25px;
}

.table th , td{
   padding: 10px;
   border: 2px solid #EF9408;
}

.formulario{
   display: block;
   padding: 30px;
}

.contenedor-input{
   width: 100%;
   margin-top:20px;
   margin-left: 230px;
}
/*Estilos formulario*/
.contenedor-input input[type="submit"]{
       margin-left: 5px;
       width: 134px;
       height: 52px;
       background: white;
       color: #0C21F8;
       font-size: 20px;
       text-align: center;
       line-height: 15px;
       font-weight: bold;
       border-radius: 15px;
       transition: all 300ms;
}

.contenedor-input input[type="submit"]:hover{
   background: #F94230;
}
